---
const { image, title, desc } = Astro.props;
---

<div class="bg-white rounded-2xl border-2">
  <img src=`/assets/img/${image}` alt={image} class="mx-auto pt-12" />
  <h3 class="text-3xl font-bold py-3">{title}</h3>
  <p class="font-open-sans text-xl text-neutral-500 xl:mx-12 lg:mx-6 md:mx-16 mx-6 mb-12">
    {desc}
  </p>
</div>
