---
const { type, text, location } = Astro.props;
---

{
  type === "red" ? (
    <button
      type="button"
      onclick="window.location.href='#platforms'"
      class="sm:text-md mr-3 rounded-lg bg-red-600 px-5 py-2.5 text-center font-open-sans text-sm font-semibold text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 sm:block sm:px-8 sm:py-3 md:mr-0"
    >
      {text}
    </button>
  ) : (
    <button
      type="button"
      onclick="window.location.href='#services'"
      class="sm:text-md mr-3 rounded-lg border-2 border-red-700 bg-white px-5 py-2.5 text-center font-open-sans text-sm font-semibold text-red-700 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 sm:block sm:px-8 sm:py-3 md:mr-0"
    >
      {text}
    </button>
  )
}
