<section class="bg-cover bg-gradient-to-r from-[#73221D] to-[#F33543]">
  <div class="container mx-auto px-6 py-6 my-8 md:my-16 text-center">
    <h2 class="text-white text-4xl font-bold pt-6 pb-3">
      We’re <span class="font-extrabold">affiliated</span> with several <span class="font-extrabold"
        >freelance platforms</span
      >
    </h2>
    <h3 class="font-open-sans text-3xl text-white pb-6">You can find us at :</h3>
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 xl:gap-16 gap-6 pt-6 pb-16">
      <img src="/assets/img/Freelancer.png" alt="Freelancer" class="m-auto" />
      <img src="/assets/img/Projects.png" alt="Projects" class="m-auto" />
      <img src="/assets/img/Sribu.png" alt="Sribu" class="m-auto" />
      <img src="/assets/img/Fiverr.png" alt="Fiverr" class="m-auto" />
    </div>
  </div>
</section>
