---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/index.astro";
import Navbar from "../components/Navbar/index.astro";
import Stats from "../components/Stats/index.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <div class="container mx-auto">
    <main>
      <Hero
        title="We can provide your digital needs right away"
        subtitle="We are utilizing and transforming technology"
        desc="Empowering Businesses through Software Solutions " 
      />
      <Stats/>
    </main>
  </div>
</Layout>
