---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/index.astro";
import Portfolio from "../components/Portfolios/Portfolio.astro";
import Footer from "../components/Footer/index.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main>
    <section class="container mx-auto px-6 py-6 my-8 md:my-16">
      <h2 class="font-inter text-2xl md:text-4xl font-light text-red-700 text-center">
        Our <span class="font-extrabold">Services</span>
      </h2>
      <h3 class="font-open-sans text-center text-red-700 text-2xl py-3">
        If you have any questions or inquiries about our company or services, <br />please don’t hesitate to contact us
      </h3>
      <div class="flex justify-center py-6">
        <div class="w-44 border-red-600 border-b-2 md:border-b-4 border-t-2 md:border-t-4 rounded-full"></div>
      </div>
      <div class="my-6">
        <div class=`hidden bg-gradient-to-r from-[#0D0D0D] to-[#8F8F8F] rounded-2xl my-6`></div>
      </div>
      <div class="grid lg:grid-cols-3 grid-cols-1 2xl:gap-20 xl:gap-6 gap-3 pt-6 pb-16 text-center">
        <div class="bg-white rounded-2xl border-2">
          <img src="/assets/img/Email.svg" alt="Email" class="mx-auto pt-12" />
          <h3 class="text-3xl font-bold py-3">Email Us</h3>
          <p class="font-open-sans text-xl text-neutral-500 xl:mx-12 lg:mx-6 md:mx-16 mx-6">
            Email us for general queries, including marketing and partnership opportunities.
          </p>
          <h3 class="text-xl text-red-700 font-bold py-3">sahudagency@gmail.com</h3>
          <div class="pt-6 pb-10 mb-6">
            <a
              href="mailto:sahudagency@gmail.com"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-xl text-center md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 font-open-sans px-12 py-4"
              >Email Now</a
            >
          </div>
        </div>
        <div class="bg-white rounded-2xl border-2">
          <img src="/assets/img/Call.svg" alt="Call" class="mx-auto pt-12" />
          <h3 class="text-3xl font-bold py-3">Call Us</h3>
          <p class="font-open-sans text-xl text-neutral-500 xl:mx-12 lg:mx-6 md:mx-16 mx-6">
            Call us to speak to a member of our team. We are always happy to help.
          </p>
          <br class="2xl:inline-block lg:hidden" />
          <h3 class="text-xl text-red-700 font-bold py-3">+62 858 1742 2004</h3>
          <div class="pt-6 pb-10 mb-6">
            <a
              href="tel:+6285817422004"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-xl text-center md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 font-open-sans px-12 py-4"
              >Call Now</a
            >
          </div>
        </div>
        <div class="bg-white rounded-2xl border-2">
          <img src="/assets/img/Chat.svg" alt="Chat" class="mx-auto pt-12" />
          <h3 class="text-3xl font-bold py-3">Chat Us</h3>
          <p class="font-open-sans text-xl text-neutral-500 xl:mx-12 lg:mx-6 md:mx-16 mx-6">
            Have any question about our services? Talk with us directly using WhatsApp
          </p>
          <h3 class="text-xl text-red-700 font-bold py-3">wa.me/6285817422004</h3>
          <div class="pt-6 pb-10 mb-6">
            <a
              href="https://wa.me/6285817422004"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-xl text-center md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 font-open-sans px-12 py-4"
              >Chat Now</a
            >
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
