---
import Portfolio from "./Portfolio.astro";
---

<section class="container mx-auto px-6 py-6 my-8 md:my-16">
  <h2 class="font-inter text-2xl md:text-4xl font-light text-red-700 text-center">
    <span class="font-extrabold">Let's deep dive</span> into our portfolios
  </h2>
  <h3 class="font-open-sans text-center text-red-700 text-2xl py-2">Keep scrolling, you are on the right path</h3>
  <div class="flex justify-center py-6">
    <div class="w-44 border-red-600 border-b-2 md:border-b-4 border-t-2 md:border-t-4 rounded-full"></div>
  </div>
  <div class="my-6">
    <Portfolio
      fromColor="[#73221D]"
      toColor="[#F33543]"
      image="AudodoCoffee.png"
      title="Audodoco"
      desc="Audodoco is a highly innovative and effective promotional tool for Audodo Coffee Company, offering a comprehensive digital platform that showcases the company's unique and high-quality products. The Laravel 8 framework ensures that the platform is highly responsive, reliable, and efficient, providing a seamless user experience for coffee lovers worldwide."
      technology={["Laravel", "MySQL"]}
    />
    <Portfolio
      fromColor="[#0D0D0D]"
      toColor="[#8F8F8F]"
      image="Narkobot.png"
      title="Narkobot"
      desc="Narkobot is an innovative and highly effective tool in the fight against drug abuse, providing an interactive medium for information dissemination and public consultation. Using NLP approaches and React Native ensures that the platform is highly responsive and intuitive, making it an effective tool for promoting public awareness and education about the dangers of drug abuse, especially among younger generations."
      technology={["Python", "React Native"]}
    />
    <div class=`hidden bg-gradient-to-r from-[#0D0D0D] to-[#8F8F8F] rounded-2xl my-6`></div>
  </div>
  <div class="text-center">
    <p class="font-open-sans text-red-700 text-2xl py-8">We have others, let's check this out</p>
    <a
      href="/portfolio"
      class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-lg sm:text-xl text-center md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 font-open-sans px-7 py-3"
    >
      Explore More
    </a>
  </div>
</section>
