---
const { count, desc } = Astro.props;
---
<div class="text-center">
  <h1 class="font-open-sans font-normal text-gray-900 text-3xl md:text-4xl">
    {count}
  </h1>
  <h2 class="font-open-sans font-normal text-gray-600 text-sm md:text-lg">
    {desc}
  </h2>
</div>