---
const { count, desc } = Astro.props;
---
<div class="text-center">
  <h1 class="font-open-sans font-normal text-gray-900 text-4xl">
    {count}+
  </h1>
  <h2 class="font-open-sans font-normal text-neutral-500 text-lg">
    {desc}
  </h2>
</div>